<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-secondary" id="loginLabel">Compte en cours d'utilisation</h5>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="mb-1 text-start">
								<p>
									{% if is_granted('ROLE_USER') %}
										Bienvenue
										{{ app.user.firstname | title}}
										{{ app.user.lastname | upper}}

									{% else %}

										Actuellement Anonyme

									{% endif %}
								</p>
							</div>
						</div>
						{% if  not is_granted('ROLE_USER') %}

							<div class="d-flex justify-content-between">
								<a href="{{path('app_register')}}" class="text-center">Créer mon compte</a>

								<a href="<?php echo(URL_SITE);?>form/2" class="text-center text-light">Mot de passe oublié ?</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				{% if is_granted('ROLE_USER') %}
					<a href={{path('app_logout')}}>
						<button type="button" class="btn btn-secondary">Déconnexion</button>
					</a>
				{% else %}
					<a href={{path('app_login')}}>
						<button type="button" class="btn btn-secondary">Se connecter</button>
					</a>
				{% endif %}
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
