{% extends 'baseBack.html.twig' %}

{% block title %}
	- Categories
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<a class="btn btn-secondary m-5" href="{{ path('category_new') }}">Créer un nouvel univers</a>

		{% macro recursiveCategory(category) %}
			{% import _self as self %}
			<ul>
				<p class="m-0 text-white">
					{{category.name}}
					{% if category.isActive == false %}
						<span class="text-danger">Non actif</span>
					{% endif %}
					<a class="badge bg-secondary m-1" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
					<a class="badge bg-primary m-1" href="{{ path('category_new_son',{'id': category.id}) }}">Ajouter sous cat</a>
				</p>


				{% if category.categories|length %}
					<li>
						{% for child in category.categories %}
							{{ self.recursiveCategory(child) }}
						{% endfor %}
					</li>
				{% endif %}
			</ul>
		{% endmacro %}


		<div class="row row-cols-1 row-cols-xl-2">
			{% for category in categories %}
				{% if category.parent is null %}
					<div class="col">
						<div class=" tailleMin rounded">
							<div class="ps-3">
								<h4 class="text-center text-white m-2">Univers :
									{% if category.isActive == false %}
										<span class="text-danger">Non actif {{category.name}}</span>
										{% else %}
										{{category.name}}	
									{% endif %}
																		
									<a class="btn btn-secondary m-1" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
									<a class="btn btn-secondary m-1" href="{{ path('category_new_son',{'id': category.id}) }}">Ajouter sous cat</a>
								</h4>

								{% from _self import recursiveCategory %}

								{% if category %}
									<div class="mt-1">
										<li>
											{% for child in category.categories %}

												{{ recursiveCategory(child) }}
											{% endfor %}
										</li>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endblock %}
