{% extends 'base.html.twig' %}

{% block title %}
	- Commandes
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			{% if orders|length == 0 %}
				<p class="text-center">Votre compte ne possède pas encore de commande réalisée auprès de La Nîmes'Alerie.</p>
			{% else %}				
			{% for order in orders %}

				<div class="col-6">
					<div class="card m-1">
					<div class="d-flex justify-content-around align-items-center">
						<p class="h5 text-center mt-3">Commande du
							{{order.createdAt| date('d/m/Y à H:i')}}</p>
							<a href="{{path('user_order_details',{'id':order.id})}}" class="btn btn-primary mt-3">Détails</a>
					</div>		
						<hr>
						<div class="row">
							<div class="col-6 text-center">Moyen de Paiement :
								<br>
								{{order.paymentChoice}}
                                <hr>
                                Montant total :
                                <br>
								{{(order.shipmentPrice + order.getTotalOrder)|number_format(2)}} €
                                
                               
                                <hr>
                                Statut de la commande :
                                <br>
                                {{order.status.information}}


							</div>
							<div class="col-6 text-center">Choix d'expedition :
								<br>{{order.shipment}}
                                <hr>
                                Adresse de livraison :
                                <br>
                                {{order.delivery|raw}}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}
