{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}
	- mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="m-1">
				<a class="btn btn-primary" href="{{path('user')}}">Retour à la gestion du compte</a>
			</div>
			<div class="row justify-content-center">
				<div class="col-8 mt-5">

					{{ form_start(form) }}
					{{ form_row(form.firstname,{label : 'Votre prénom : '}) }}
					{{ form_row(form.lastname,{label : 'Votre nom : '}) }}
                    {{ form_row(form.new_password) }}
					<button class="btn btn-primary">{{ button_label|default('valider') }}</button>
					{{ form_end(form) }}
				</div>
			</div>


		</div>
	</div>


{% endblock %}
