{% extends 'baseBack.html.twig' %}

{% block title %}
	- Accueil Back
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

			<div class="col">
				<a href="{{path('category_index')}}">
					<div class="card">
						<img src="{{asset('img/category.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Categories</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="{{path('img_banners_index')}}">
					<div class="card">
						<img src="{{asset('img/banner.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Bannières</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="{{path('product_index')}}">
					<div class="card">
						<img src="{{asset('img/produits.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Produits</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col">
				<a href="">
					<div class="card">
						<img src="{{asset('img/commandes.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Commandes</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="{{path('tva_index')}}">
					<div class="card">
						<img src="{{asset('img/user.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des taux de TVA</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="{{path('user_index')}}">
					<div class="card">
						<img src="{{asset('img/client.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Clients</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="{{path('brand_index')}}">
					<div class="card">
						<img src="{{asset('img/marque.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Marques</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col">
				<a href="{{path('status_index')}}">
					<div class="card">
						<img src="{{asset('img/statut.jpg')}}" class="img-fluid size" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">Gestion des Statuts de commandes</h5>
						</div>
					</div>
				</a>
			</div>


		</div>
	</div>
{% endblock body %}
