{% extends 'base.html.twig' %}

{% block title %}QuantityOnCommand index{% endblock %}

{% block body %}
    <h1>QuantityOnCommand index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quantity_on_command in quantity_on_commands %}
            <tr>
                <td>{{ quantity_on_command.id }}</td>
                <td>{{ quantity_on_command.Quantity }}</td>
                <td>
                    <a href="{{ path('quantity_on_command_show', {'id': quantity_on_command.id}) }}">show</a>
                    <a href="{{ path('quantity_on_command_edit', {'id': quantity_on_command.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quantity_on_command_new') }}">Create new</a>
{% endblock %}
