<section class="pt-5 pb-5">
    <h2 class=" text-center mb-5">Ne manquez aucune nouveauté, inscrivez vous à notre <a href="">Newsletter</a></h2>
    <h2 class=" text-center mb-5"><span class="text-primary">Offre de Bienvenue : </span>bénéficiez de 5% de remise sur votre première commande</h2>
</section>
<section>
    <div class="container-fluid">
        <h2 class=" text-center text-secondary mb-3">On vous donne la parole</h2>
        <div class="row  row-cols-1 row-cols-md-3 mb-3">
            <div class="col d-flex flex-column justify-content-center tour">
                <div class="d-flex justify-content-center"><img src="{{asset('img/testimonials-1.jpg')}}" class="img-fluid rounded-circle w-50" alt="perso1"></div>
                <h4 class="text-center text-secondary mt-2">Rita K.</h4>
                <p class="text-center text-primary">Toujours au top ! merci la Nîmes Alerie</p>
            </div>
            <div class="col d-flex flex-column justify-content-center tour">
                <div class="d-flex justify-content-center"><img src="{{asset('img/testimonials-2.jpg')}}" class="img-fluid rounded-circle w-50" alt="perso2"></div>
                <h4 class="text-center text-secondary mt-2">Jean-Eude M.</h4>
                <p class="text-center text-primary">Conseils de pros, stocks constants</p>
            </div>
            <div class="col d-flex flex-column justify-content-center tour">
                <div class="d-flex justify-content-center"><img src="{{asset('img/testimonials-3.jpg')}}" class="img-fluid rounded-circle w-50" alt="perso3"></div>
                <h4 class="text-center text-secondary mt-2">Pauline F.</h4>
                <p class="text-center text-primary">Meilleure animalerie au nord de Caracas</p>
            </div>                 
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
    <h2 class=" text-center text-secondary mb-3">Nos engagements et services</h2>
        <div class="row">
            <div class="col-6 col-md-3 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center"><img src="{{asset('img/CB.png')}}" class="img-fluid taille-90"></div>
                <p class="text-center text-primary">Paiement sécurisé</p>
            </div>
            <div class="col-6 col-md-3 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center"><img src="{{asset('img/fastdeliver.png')}}" class="img-fluid taille-90"></div>
                <p class="text-center text-primary">Livraison rapide</p>
            </div>
            <div class="col-6 col-md-3 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center"><img src="{{asset('img/shop.png')}}" class="img-fluid taille-90"></div>
                <p class="text-center text-primary">Retrait des commandes sous 2h en magasin</p>
            </div>
            <div class="col-6 col-md-3 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center"><img src="{{asset('img/freeship.png')}}" class="img-fluid taille-90"></div>
                <p class="text-center text-primary">Livraison offerte dès 49€ d'achat</p>
            </div>         
        </div>
    </div>
</section>