{% extends 'baseBack.html.twig' %}

{% block title %}
	- Commande
{% endblock %}


{% block body %}

	<div class="container">
		<div class="row">
			<h1 class="text-center text-white">Liste des commandes</h1>



			<table class="table">
				<thead class="text-secondary">
					<tr>
						<th>Date de création</th>
                        <th>Statut</th>
						<th>Méthode d'expédition</th>
						<th>Adresse</th>
						<th>Mode de paiement</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody class="text-white">
					{% for order in orders %}
						{% if  order.ispaid %}
							<tr>
								<td>{{ order.createdAt ? order.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{order.status.information}}</td>
								<td>{{ order.shipment }}</td>
								<td>{{ order.delivery|raw }}</td>
								<td>{{ order.paymentChoice }}</td>
								<td>
									<a href="{{ path('order_back_show', {'id': order.id}) }}">Détails</a>
									<a href="{{ path('order_back_edit', {'id': order.id}) }}">Modifications</a>
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td colspan="8">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
