{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="text-center">Finalisation de ma commande</h2>
		<p class="mt-4">Choisissez vos préferences avant de passer votre commande</p>
        <hr>
        <div class="row">
            <div class="col-md-6">


            {{ form_start(form) }}

            {{ form_row(form.adresses, {label: 'Confirmer votre adresse :' })|replace({'[br]': '<br>'})| raw }}
              <a class="btn btn-primary" href="{{path('user_front-adress_edit')}}">Modifier l'adresse</a>

            
            {{ form_row(form.shipment, {label: 'Choisissez votre mode de livraison' }) }}
                                
            
            <button class="btn btn-primary">{{ button_label|default('Valider la commande') }}</button>
            
            {{ form_end(form) }}



              
            </div>

            <div class="col-md-6">
                {% for item in items %}
                <div class="row">
                <div class="col-2"><img src="{{ asset('upload/'~ item.product.picture1)}}" alt="{{item.product.title}}" height="75px"></div>
                <div class="col-8 my-auto">{{item.product.title}}</div>
                <div class="col-2 my-auto"> x {{item.quantity}}</div>
                </div>
				{% endfor %}
                <hr>
                <div class="row">
                <div class="col-6">Prix total</div>
                <div class="col-3 text-end my-auto">{{totalHT|number_format(2)}}€ HT</div>
                <div class="col-3 text-end my-auto">{{totalTTC|number_format(2)}}€ TTC</div>
                </div>                   
            </div>       
        </div>
	</div>

{% endblock %}
