{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
     {{ form_row(form.name, {label: 'Nom de l\'univers :' }) }}
     {{ form_row(form.url,{'attr' :{'placeholder' :'Sibylle'},'label' : 'Image à uploader : '}) }}
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
