{% extends 'baseBack.html.twig' %}

{% block title %}
	- Client
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<h1 class="text-center text-white">Vue d'ensemble des clients</h1>

			<a href="{{ path('user_new') }}">
				<button class="btn btn-primary">Nouvel utilisateur</button>
			</a>

			<table class="table">
				<thead class="text-secondary">
					<tr>
						<th>Genre</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Date de naissance</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody class="text-white">
					{% for user in users %}
						<tr>

							<td>{{ user.gender ? 'Mme' : 'M' }}</td>

							<td>{{ user.firstname }}</td>
							<td>{{ user.lastname }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.dateOfBirth ? user.dateOfBirth|date('d-m-Y') : '' }}</td>
							<td>
								<a href="{{ path('user_show', {'id': user.id}) }}">
									<button class="btn btn-primary">informations détaillées</button>
								</a>
								<a href="{{ path('user_edit', {'id': user.id}) }}">
									<button class="btn btn-primary">Modifier</button>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


{% endblock %}
